In [15]:
# Задача 1

"""
Напишите функцию, которая классифицирует фильмы из 
материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class
"""

import pandas as pd

## Настройка источника
url = 'https://drive.google.com/file/d/1E7cEUX-UdB8T4c8rGN1esAlvaiXIuEZU/view?usp=drivesdk'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
df = pd.read_csv(path, sep=',', skiprows =0)

## Функция классификации
def classic(param):
    if param <= 2.0:
        return 'низкий рейтинг'
    elif 4.0 >= param > 2.0:
        return 'средний рейтинг'
    elif param > 4.0:
        return 'высокий рейтинг'
    
## Добавляем столбец из функции в датафрейм
df['class'] = df['rating'].apply(classic)

## Проверка результата
df.head(10)

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг
5       1     1263     2.0  1260759151   низкий рейтинг
6       1     1287     2.0  1260759187   низкий рейтинг
7       1     1293     2.0  1260759148   низкий рейтинг
8       1     1339     3.5  1260759125  средний рейтинг
9       1     1343     2.0  1260759131   низкий рейтинг

In [16]:
# Задача 2

import pandas as pd

"""
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке
сможет выставить географическую принадлежность определенному 
региону. Т. е. если поисковый запрос содержит название города
региона, то в столбце ‘region’ пишется название этого региона.
Если поисковый запрос не содержит названия города, то ставим 
‘undefined’.

"""
## Правила распределения по условию задачи

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

## Определяем полный список городов
cities_values = sum(geo_data.values(), [])
cities_list = set(list(cities_values))

## Настройка источника
url = 'https://drive.google.com/file/d/1vX-XZsL3AHUEXuOQfZHYzs1mtH8zBdMG/view?usp=drivesdk'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
df2 = pd.read_csv(path, sep=',', skiprows =0)
#df = pd.read_csv('ml-latest-small/keywords.csv')


## Функция нахождения городов в запросах
def find_city(param):
    for i in cities_list:
#        print(value)
        if i in param:
            return(i)

## Находим города в запросах
df2['city']=df2['keyword'].apply(find_city)

## Функция нахождения региона
def find_reg(param):
    for key, value in geo_data.items():
        if param in value:
            return (key)
        
## Находим регионы по городам
df2['region']=df2['city'].apply(find_reg)

## Проверка результата
filtered_countries = df2[ (df2['keyword']=='авито москва') | (df2['keyword']=='вк моя страница') | (df2['keyword']=='псков')  ]

filtered_countries

               keyword   shows    city        region
126    вк моя страница  979105    None          None
127       авито москва  979292  москва         Центр
11222            псков   24885   псков  Северо-Запад

In [17]:
# Задача 3

"""
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя 
файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов
содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга
"""

import pandas as pd

## Объявление пустого списка лет
years=[]

## Добавление лет в список years
for i in range(1950, 2011, 1):
    years.append(i)

## Перевод чисел списка лет в текст лет
years_str = list(map(str, years))

## Настройка источника
url = 'https://drive.google.com/file/d/1BM4T_CNxpWwxjs-tcjUHbDBXMX39PI8W/view?usp=drivesdk'
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
df3 = pd.read_csv(path, sep=',', skiprows =0)

## Функция по простановке years
def production_year(param):
    for i in years_str:
        if i in param:
            return i

## Добавляем столбец из функции в датафрейм
df3['year'] = df3['title'].apply(production_year)

## Заменяем пустые значения в year на 1900 по условию задачи       
df3['year'].replace([None],'1900',inplace =True)  

df3


## Создание фрейма с годами
df4 = pd.merge(df, df3[['movieId', 'year']], on='movieId' )

## Группировка и вывод результата
result = df4.groupby('year').mean()[['rating']].sort_values('rating', ascending=False)
result

        rating
year
1957  4.014241
1972  4.011136
1952  4.000000
1954  3.994220
1951  3.983539
...        ...
2005  3.448434
2003  3.444777
1996  3.426600
1997  3.415764
2000  3.356104

[62 rows x 1 columns]